<script type="text/javascript" src="/js/slick.min.js"></script>

<script type="text/javascript">
    const home_url = 'https://recommender-279710.ey.r.appspot.com';

    function showInfoCurrent(){
        const currentSlide = $('.center').slick('slickCurrentSlide');
        // TO DO: Get a data-id referring to the slide_number instead of the slick current slide number, which the filter might affect.

        httpGetAsync(`${home_url}/series/${currentSlide}`, (res) =>{
            try{
                const parsedResponse = JSON.parse(res);
                if(typeof parsedResponse.data.Cover !== 'undefined') document.getElementById('info-picture').src=parsedResponse.data.Cover;
                if(typeof parsedResponse.data.Name !== 'undefined') document.getElementById('info-name').innerHTML = parsedResponse.data.Name;
                if(typeof parsedResponse.data.Synopsis !== 'undefined') document.getElementById('info-description').innerHTML= 'Synopsis: ' + parsedResponse.data.Synopsis;
                
                var additionalInfo = ''; //additional information about the series
                if(typeof parsedResponse.data.Year !== 'undefined') additionalInfo += 'Year: ' + parsedResponse.data.Year + '</p><p>';
                if(typeof parsedResponse.data.Writers !== 'undefined') additionalInfo += '\tWriters: ' + parsedResponse.data.Writers + '</p><p>';
                if(typeof parsedResponse.data.Actors !== 'undefined') additionalInfo += '\nActors: ' + parsedResponse.data.Actors + '</p><p>';

                document.getElementById('info-additional').innerHTML=additionalInfo;
                document.getElementById('info-title').innerHTML = 'Item information';
            } catch(error){
                console.log(error); //throw error or flash it
            }
            
        });
    }

    function recommendMeSomething(){
        httpGetAsync(`${home_url}/series/any`, (res) =>{
            try{
                const parsedResponse = JSON.parse(res);
                if(typeof parsedResponse.data.Cover !== 'undefined') document.getElementById('info-picture').src=parsedResponse.data.Cover;
                if(typeof parsedResponse.data.Name !== 'undefined') document.getElementById('info-name').innerHTML = parsedResponse.data.Name;
                if(typeof parsedResponse.data.Synopsis !== 'undefined') document.getElementById('info-description').innerHTML= 'Synopsis: ' + parsedResponse.data.Synopsis;
                
                var additionalInfo = ''; //additional information about the series
                if(typeof parsedResponse.data.Year !== 'undefined') additionalInfo += 'Year: ' + parsedResponse.data.Year + '</p><p>';
                if(typeof parsedResponse.data.Writers !== 'undefined') additionalInfo += '\tWriters: ' + parsedResponse.data.Writers + '</p><p>';
                if(typeof parsedResponse.data.Actors !== 'undefined') additionalInfo += '\nActors: ' + parsedResponse.data.Actors + '</p><p>';

                document.getElementById('info-additional').innerHTML=additionalInfo;
                document.getElementById('info-title').innerHTML = 'Your recommendation';
                
                $('.center').slick('slickGoTo', parsedResponse.index, true);
            } catch(error){
                console.log(error); //throw error or flash it
            }
        });
    }
    
    // Request series from the database and showcase them in the carousel
    httpGetAsync(`${home_url}/series/infoSeries`, (res) =>{
    try{
        const parsedResponse = JSON.parse(res);
        var addedHTMLSeries = '<div class="center">\n\t';
        for(let serie of parsedResponse) {
            if(typeof serie.Cover !== 'undefined'){
                let alt_img_name = serie.Name;
                addedHTMLSeries += '<div class="content-sliders text-center';
                if(typeof serie.Tags !== 'undefined'){
                    // If the series have a list of Tags
                    for (let tag_name of serie.Tags){
                        // We add the tags existing for this serie as classes
                        addedHTMLSeries += ' ' + tag_name;
                    }
                    alt_img_name = alt_img_name.toLowerCase().replace(/\s/g, "");      
                }
                
                addedHTMLSeries += `">\n\t<img class="content-sliders-image" src="${serie.Cover}" alt="img_${alt_img_name}">\n</div>`;
            }
        }
        addedHTMLSeries += '\n</div>';
        document.getElementById('media-content-carousel').innerHTML = addedHTMLSeries;
        startCarousel();
    } catch(error){
        console.log(error); //throw error or flash it
    }
    
    });
</script>