<script type="text/javascript" src="/js/slick.min.js"></script>

<script type="text/javascript">
    const home_url = 'https://recommender-279710.ey.r.appspot.com';

    {{#if ps4}}
        const videogames_dir = home_url + '/videogames/ps4';
    {{else if pc}}
        const videogames_dir = home_url + '/videogames/pc';
    {{else if ps4_completed}}
        const videogames_dir = home_url + '/videogames/ps4_completed';
    {{else if pc_completed}}
        const videogames_dir = home_url + '/videogames/pc_completed';
    {{/if}}

    function showInfoCurrent(){
        const currentSlide = $('.center').slick('slickCurrentSlide');
        httpGetAsync(`${videogames_dir}/${currentSlide}`, (res) =>{
            try{
                const parsedResponse = JSON.parse(res);
                if(typeof parsedResponse.data.Cover !== 'undefined'){
                    document.getElementById('info-picture').src=parsedResponse.data.Cover;
                } else {
                    document.getElementById('info-picture').src='';
                    document.getElementById('info-picture').alt=parsedResponse.data.Name;
                }

                if(typeof parsedResponse.data.Name !== 'undefined'){
                    document.getElementById('info-name').innerHTML = parsedResponse.data.Name;
                } else {
                    document.getElementById('info-name').innerHTML = 'This game could not be found.';
                }

                if(typeof parsedResponse.data.Storyline !== 'undefined'){
                    document.getElementById('info-description').innerHTML = 'Storyline: ' + parsedResponse.data.Storyline;
                } else {
                    document.getElementById('info-description').innerHTML = 'Storyline: could not be found for the game.';
                }

                
                var additionalInfo = ''; //additional information about the Videogames
                if(typeof parsedResponse.data.Summary !== 'undefined') {
                    additionalInfo += 'Summary: ' + parsedResponse.data.Summary + '</p><p>';
                }
                if(typeof parsedResponse.data.Genres !== 'undefined') {
                    additionalInfo += 'Genres: ';
                    const n_genres = parsedResponse.data.Genres.length; // number of genres for this videogame
                    for(var i = 0; i < n_genres-1; i++){
                        additionalInfo += parsedResponse.data.Genres[i] + ', ';
                    }
                    additionalInfo += parsedResponse.data.Genres[n_genres-1] + '</p><p>';
                }

                document.getElementById('info-additional').innerHTML=additionalInfo;
                document.getElementById('info-title').innerHTML = 'Item information';
            } catch(error){
                console.log(error); //throw error or flash it
            }
            
        });
    }

    function recommendMeSomething(){
        httpGetAsync(`${videogames_dir}/any`, (res) =>{
            try{
                const parsedResponse = JSON.parse(res);
                if(typeof parsedResponse.data.Cover !== 'undefined'){
                    document.getElementById('info-picture').src=parsedResponse.data.Cover;
                } else {
                    document.getElementById('info-picture').src='';
                    document.getElementById('info-picture').alt=parsedResponse.data.Name;
                }

                if(typeof parsedResponse.data.Name !== 'undefined'){
                    document.getElementById('info-name').innerHTML = parsedResponse.data.Name;
                } else {
                    document.getElementById('info-name').innerHTML = 'This game could not be found.';
                }

                if(typeof parsedResponse.data.Storyline !== 'undefined'){
                    document.getElementById('info-description').innerHTML = 'Storyline: ' + parsedResponse.data.Storyline;
                } else {
                    document.getElementById('info-description').innerHTML = 'Storyline: could not be found for the game.';
                }

                
                var additionalInfo = ''; //additional information about the Videogames
                if(typeof parsedResponse.data.Summary !== 'undefined') {
                    additionalInfo += 'Summary: ' + parsedResponse.data.Summary + '</p><p>';
                }
                if(typeof parsedResponse.data.Genres !== 'undefined') {
                    additionalInfo += 'Genres: ';
                    const n_genres = parsedResponse.data.Genres.length; // number of genres for this videogame
                    for(var i = 0; i < n_genres-1; i++){
                        additionalInfo += parsedResponse.data.Genres[i] + ', ';
                    }
                    additionalInfo += parsedResponse.data.Genres[n_genres-1] + '</p><p>';
                }
                document.getElementById('info-additional').innerHTML=additionalInfo;
                document.getElementById('info-title').innerHTML = 'Your recommendation';
                $('.center').slick('slickGoTo', parsedResponse.index, true);
            } catch(error){
                console.log(error); //throw error or flash it
            }
        });
    }
    
    // Request Videogames from the database and showcase them in the carousel
    httpGetAsync(`${videogames_dir}/infoVideogames`, (res) =>{
    try{
        const parsedResponse = JSON.parse(res);
        var addedHTMLVideogames = '<div class="center">\n\t';
        for(let videogame of parsedResponse) {
            if(typeof videogame.Cover !== 'undefined'){ //what to do if the element is not found?
                addedHTMLVideogames += `<div class="content-sliders text-center">\n\t<img class="content-sliders-image" src="${videogame.Cover}" alt="img">\n</div>`;
            }
        }
        addedHTMLVideogames += '\n</div>';
        document.getElementById('media-content-carousel').innerHTML = addedHTMLVideogames;
        startCarousel();
    } catch(error){
        console.log(error); //throw error or flash it
    }
    
    });
</script>