<script type="text/javascript" src="/js/slick.min.js"></script>

<script type="text/javascript">
    const home_url = 'https://recommender-279710.ey.r.appspot.com';

    function showInfoCurrent(){
        const currentSlide = $('.center').slick('slickCurrentSlide');

        httpGetAsync(`${home_url}/movies/${currentSlide}`, (res) =>{
            try{
                const parsedResponse = JSON.parse(res);
                if(typeof parsedResponse.data.Cover !== 'undefined') document.getElementById('info-picture').src=parsedResponse.data.Cover;
                if(typeof parsedResponse.data.Name !== 'undefined') document.getElementById('info-name').innerHTML = parsedResponse.data.Name;
                if(typeof parsedResponse.data.Synopsis !== 'undefined') document.getElementById('info-description').innerHTML= 'Synopsis: ' + parsedResponse.data.Synopsis;
                
                var additionalInfo = ''; //additional information about the Movies
                if(typeof parsedResponse.data.Year !== 'undefined') additionalInfo += 'Year: ' + parsedResponse.data.Year + '</p><p>';
                if(typeof parsedResponse.data.Writers !== 'undefined') additionalInfo += '\tWriters: ' + parsedResponse.data.Writers + '</p><p>';
                if(typeof parsedResponse.data.Actors !== 'undefined') additionalInfo += '\nActors: ' + parsedResponse.data.Actors + '</p><p>';

                document.getElementById('info-additional').innerHTML=additionalInfo;
                document.getElementById('info-title').innerHTML = 'Item information';
            } catch(error){
                console.log(error); //throw error or flash it
            }
            
        });
    }

    function recommendMeSomething(){
        httpGetAsync(`${home_url}/movies/any`, (res) =>{
            try{
                const parsedResponse = JSON.parse(res);
                if(typeof parsedResponse.data.Cover !== 'undefined') document.getElementById('info-picture').src=parsedResponse.data.Cover;
                if(typeof parsedResponse.data.Name !== 'undefined') document.getElementById('info-name').innerHTML = parsedResponse.data.Name;
                if(typeof parsedResponse.data.Synopsis !== 'undefined') document.getElementById('info-description').innerHTML= 'Synopsis: ' + parsedResponse.data.Synopsis;
                
                var additionalInfo = ''; //additional information about the Movies
                if(typeof parsedResponse.data.Year !== 'undefined') additionalInfo += 'Year: ' + parsedResponse.data.Year + '</p><p>';
                if(typeof parsedResponse.data.Writers !== 'undefined') additionalInfo += '\tWriters: ' + parsedResponse.data.Writers + '</p><p>';
                if(typeof parsedResponse.data.Actors !== 'undefined') additionalInfo += '\nActors: ' + parsedResponse.data.Actors + '</p><p>';

                document.getElementById('info-additional').innerHTML=additionalInfo;
                document.getElementById('info-title').innerHTML = 'Your recommendation';
                $('.center').slick('slickGoTo', parsedResponse.index, true);
            } catch(error){
                console.log(error); //throw error or flash it
            }
        });
    }
    
    // Request Movies from the database and showcase them in the carousel
    httpGetAsync(`${home_url}/movies/infoMovies`, (res) =>{
    try{
        const parsedResponse = JSON.parse(res);
        var addedHTMLMovies = '<div class="center">\n\t';
        for(let movie of parsedResponse) {
            if(typeof movie.Cover !== 'undefined'){
                let alt_img_name = movie.Name;
                addedHTMLMovies += '<div class="content-sliders text-center';
                if(typeof movie.Tags !== 'undefined'){
                    // If the movie have a list of Tags
                    for (let tag_name of movie.Tags){
                        // We add the tags existing for this movie as classes
                        addedHTMLMovies += ' ' + tag_name;
                    }
                    alt_img_name = alt_img_name.toLowerCase().replace(/\s/g, "");      
                }
                
                addedHTMLMovies += `">\n\t<img class="content-sliders-image" src="${movie.Cover}" alt="img_${alt_img_name}">\n</div>`;
            }
        }
        addedHTMLMovies += '\n</div>';
        document.getElementById('media-content-carousel').innerHTML = addedHTMLMovies;
        startCarousel();
    } catch(error){
        console.log(error); //throw error or flash it
    }
    
    });
</script>