<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="My website">
    <meta name="author" content="Ivan Llopis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <title>My webapplication</title>
</head>

<body>
    <!--    Header      -->
    <!-- Navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/" class="navbar-brand mb-0 ml-4 h1">Recommend me something!</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a href="/series" class="btn btn-light" role="button">Series</a>
              </li>
              <li class="nav-item">
                <a href="/movies" class="btn btn-light" role="button">Movies</a>
              </li>
              <li class="nav-item">
                <a href="/videogames" class="btn btn-light" role="button">Videogames</a>
              </li>
              <li class="nav-item">
                <a href="/books" class="btn btn-light" role="button">Books</a>
              </li>
              <!-- If User is logged in or not-->
              {{#if user}}
                <li class="nav-item" data-turbolinks="false">
                  <a href="/auth/signout" class="btn btn-light" role="button">Sign out</a>
                </li>
              {{else}}
                <li class="nav-item">
                  <a href="/auth/signin" class="btn btn-light" role="button">Sign in</a>
                </li>
              {{/if}}
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <!--  Body    -->
    <main role="main">
      {{#each error}}
        <div class="alert alert-danger" role="alert">
          <p class="mb-3">{{ this.message }}</p>
          {{#if this.debug }}
            <pre class="alert-pre border bg-light p-2"><code>{{ this.debug }}</code></pre>
          {{/if}}
        </div>
      {{/each}}

      {{{body}}}
    </main>

</body>

</html>