<!--  Body    -->
<div class="container">
    <span class="p-5">
        <h3>Choose your platform:</h3>
    </span>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem; height: 26rem;">
                <a href="/videogames/ps4"><img src="/pictures/ps_logo.png" class="card-img-top" alt="ps_logo"></a>
                <div class="card-body">
                    <a href="/videogames/ps4"><h5 class="card-title">Playstation</h5></a>
                    <p class="card-text">Check the videogames that you have completed or have in the bucket list to play in Playstation.</p>
                    <a href="/videogames/ps4" class="btn btn-primary">Videogames</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem; height: 26rem;">
                <a href="/videogames/pc"><img src="/pictures/pc_logo.jpg" class="card-img-top" alt="pc_logo"></a>
                <div class="card-body">
                    <a href="/videogames/pc"><h5 class="card-title">PC</h5></a>
                    <p class="card-text">Check the videogames that you have completed or have in the bucket list to play in PC.</p>
                    <a href="/videogames/pc" class="btn btn-primary">Videogames</a>
                </div>
            </div>
        </div>
    </div>

    

    
</div>

<!--  Footer  -->
{{> footer}}

