.content-sliders{
    height: 500px;
}

.content-sliders-loader{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    height: 50px;
}

.content-sliders-image{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 90%;
}

a .card-title{
    color: rgb(0, 0, 0);
}

a:hover{
    text-decoration: none;
}

.card-title:hover{
    color: #0062cc;
    /*color: rgb(43, 65, 227);*/
}

@media screen and (max-width: 1500px) {
    .content-sliders{
        height: 400px;
    }
}

@media screen and (max-width: 1080px) {
    .content-sliders{
        height: 320px;
    }
}

@media screen and (max-width: 760px) {
    .content-sliders{
        height: 415px;
    }
}