.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}

.content-sliders{
    height: 620px;
}

.content-sliders-loader{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
    height: 50px;
}

.content-sliders-image{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 70%;
}

.button-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right; /* align the list items to the right */
}

.button-list li {
    display: inline-block; /* display the list items inline */
    margin-left: 10px; /* add some space between the buttons */
}

.button-bottom-carousel-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /*max-width: 600px;*/
}

/* Style for the left button */
.left-button-bottom-carousel {
    margin-left: 15%;
    margin-right: 15%;
}

/* Style for the right button */
.right-button-bottom-carousel {
    margin-right: 15%;
    margin-left: 15%;
}

.tag-button{
    font-size: .775rem;
}

a .card-title{
    color: rgb(0, 0, 0);
}

a:hover{
    text-decoration: none;
}

.card-title:hover{
    color: #0062cc;
}

@media screen and (max-width: 2000px) {
    .content-sliders{
        height: 450px;
    }
}

@media screen and (max-width: 1500px) {
    .content-sliders{
        height: 400px;
    }
}

@media screen and (max-width: 1080px) {
    .content-sliders{
        height: 320px;
    }
}

@media screen and (max-width: 760px) {
    .content-sliders{
        height: 415px;
    }
}